* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background: #020024;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  padding: 1.2rem;
}

h1 {
  color: rgb(7, 225, 152);
  margin-bottom: 20px;
  font-size: 2rem;
}

.board {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.user-ip {
  width: 200px;
  height: 2.6rem;
  font-family: cursive;
  font-size: 1.3rem;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

button {
  width: 100px;
  height: 2.5rem;
  font-family: cursive;
  font-size: 1.2rem;
  background-color: rgb(7, 225, 152);
  color: orangered;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.add-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.list {
  background-color: rgba(43, 40, 40, 0.537);
  padding: 1rem;
  border-radius: 10px;
  width: 30%;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.list h2 {
  color: rgb(7, 235, 159);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  position: static;
}

.card {
  background-color: whitesmoke;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(250, 246, 246, 0.2);
}

.list.over {
  background-color: rgba(246, 240, 240, 0.71);

  h2 {
    color: black;
  }
}

@media (max-width: 768px) {
  .board {
    flex-direction: column;
    align-items: center;
  }

  .list {
    width: 80%;
    margin-bottom: 20px;
  }
}
