* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}

#map {
  width: 100%;
  height: 100%;
}

#searchForm {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 500px;
}

#searchForm input {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  outline: none;
  box-shadow: none;
}

input:active {
  border: none;
}

#searchForm button {
  padding: 8px 16px;
  color: rgb(125, 121, 121);
  background-color: transparent;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

#searchForm button:hover {
  background-color: transparent;
}

/* Media Query */

@media (max-width: 480px) {
  #searchForm {
    width: auto;
    padding: 8px;
    border-radius: 50px;
  }

  #searchForm input {
    width: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    outline: none;
  }

  /* when expanded */
  #searchForm.active input {
    width: 150px;
    padding: 6px 10px;
    opacity: 1;
    pointer-events: auto;
  }
}
