body {
  font-family: cursive;
  margin: 20px;
  padding: 0;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contrainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* -------square 1-------- */

.square1 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 2s;
}

.code1 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square1:hover + .code1 {
  transform: translateX(-100px);
  transition: 2s;
  opacity: 1;
}

.square1:hover {
  transform: translateX(100px);
}

/* -------SQUARE 2-------- */

.square2 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 2s;
}

.code2 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square2:hover + .code2 {
  transform: translateY(-150px);
  transition: 2s;
  opacity: 1;
}

.square2:hover {
  margin: 10px 0 10px 0;
  transform: rotate(360deg);
}

/* -------SQUARE 3-------- */

.square3 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 2s;
}

.code3 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square3:hover + .code3 {
  transform: rotateY(-360deg);
  transition: 1.5s;
  opacity: 1;
}

.square3:hover {
  transform: rotateX(360deg);
}

/* -----SQUARE 4 */

.square4 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 2s;
}

.code4 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square4:hover + .code4 {
  transform: rotateX(60deg);
  transition: 2s;
  opacity: 1;
}

.square4:hover {
  transform: rotateY(360deg);
}

/* -----SQUARE 5------ */
.square5 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 2s;
}

.code5 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square5:hover + .code5 {
  transform: skew(25deg);
  transition: 2s;
  opacity: 1;
}

.square5:hover {
  transform: scaleX(1.5);
}

/* ----SQUARE 6---- */

.square6 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 2s;
}

.code6 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square6:hover + .code6 {
  transform: perspective(300px) rotateX(40deg) skew(30deg);
  transition: 2s;
  opacity: 1;
  overflow: hidden;
}

.square6:hover {
  margin-top: 10px;
  transform: scale(1.3);
}

/*------SQUARE7------ */

.square7 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 2s;
}

.code7 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square7:hover + .code7 {
  opacity: 1;
  overflow: hidden;
}

.square7:hover {
  margin-top: 10px;
  transform: skew(20deg, 10deg);
}

/* -----SQUARE 8 */

.square8 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 2s;
}

.code8 {
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.square8:hover + .code8 {
  transform: perspective(200px) rotateY(-20deg);
  transition: 1.5s;
  opacity: 1;
  overflow: hidden;
}

.square8:hover {
  margin-top: 10px;
  transform: perspective(300px) rotateY(45deg);
}
